<%= form_with model: reference do |f| %>
  <div class="field">
    <%= f.label :strengths_and_weaknesses, "What are the applicant’s major strengths and weaknesses?" %>
    <%= f.text_area :strengths_and_weaknesses %>
    <%= render "shared/errors", errors: reference.errors[:strengths_and_weaknesses] %>
  </div>

  <div class="field">
    <%= f.label :rating, "How would you rate this applicant amongst his/her peers?" %>
    <%= f.select :rating, options: (0..10).to_a %>
    <%= render "shared/errors", errors: reference.errors[:rating] %>
  </div>

  <div class="actions">
    <%= f.submit "SUBMIT", class: "btn" %>
  </div>
<% end %>
