<%= form_with model: form, url: url do |f| %>
  <% form.field_configs.each do |field_config| %>
    <div class="field">
      <%= f.label field_config.name, field_config.label %>
      <%= f.public_send field_config.field_type, field_config.name, *[field_config.options].compact %>
      <%= render "shared/errors", errors: form.errors[field_config.name] %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "SUBMIT", class: "btn" %>
  </div>
<% end %>
